# /etc/systemd/system/gunicorn.service

[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=pavel
Group=www-data
WorkingDirectory=/home/pavel/ananda_store
ExecStart=/home/pavel/.pyenv/versions/ananda-store/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          ananda_store.wsgi:application

[Install]
WantedBy=multi-user.target
